*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:bisque;
}

.page{
    max-width: 60rem;
    margin-inline: auto;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.input-section{
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.input-section > *{
    padding: 0.5rem;
    font-size: 1rem;
}

.input-section input{
    flex: 1;
}

#loading{
    font-size: 1.5rem;
    font-weight: 400;
}

.output{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    visibility: hidden;
}

.details{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
}

#name{
    display: flex;   
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    gap: 10px;
}

#avatar{
    width: 30%;
    min-height: 200px;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.repos{
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    gap: 0.5rem;
}

.repo{
    background-color: gray;
    padding: 1rem;
    text-align: center;
    word-break: break-word;
    white-space: normal;
    min-height: fit-content;
    font-weight: bold;
    color: white;
}

